{% extends 'catalog/base.html' %}

{% block content %}
<h1 class="mb-4">Список книг</h1>
<a class="btn btn-primary mb-3" href="{% url 'catalog:book_create' %}">Додати нову книгу</a>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Назва</th>
            <th>ISBN</th>
            <th>Ціна</th>
            <th>Видавець</th>
            <th>Автори</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.book_id }}</td>
            <td><a href="{% url 'catalog:book_detail' book.book_id %}">{{ book.name }}</a></td>
            <td>{{ book.isbn }}</td>
            <td>{{ book.price }}</td>
            <td>{{ book.publisher }}</td>
            <td>
                {% for author in book.author.all %}
                    {{ author.first_name }} {{ author.last_name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>
                <a class="btn btn-sm btn-warning" href="{% url 'catalog:book_update' book.book_id %}">Редагувати</a>
                <a class="btn btn-sm btn-danger" href="{% url 'catalog:book_delete' book.book_id %}">Видалити</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}